# Data Science Tools and Ecosystem

*In this notebook, Data Science Tools and Ecosystem are summarized*

*Some of the popular languages that Data Scientists use are:*

*ordered list*

1. python
2. R
3. SQL
4. Jav

**Objectives:**
*List popular languages for Data Science*
- JavaScript
- C
- C++

*Some of the commonly used libraries used by Data Scientists include:*

*ordered list*

1. Numpy
2. Pandas
3. TensorFlow
4. Matplotlib

|Data Science Tools|
|------------------|
|Apache Spark|
|Rstudio|
|Apache Hadoop|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60
min=200
h=min//60
print(h)

3

## Anthor
*QIU YATING*